# Lade automatisch die index.html-Datei
DirectoryIndex index.html

# Verhindere das Anzeigen des Ordnerinhalts, falls keine Index-Datei vorhanden ist
Options -Indexes

# Optional: Eigene Fehlerseiten definieren
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
